/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/7ad858a30e7f90e5e31bf3c16996a9fb?family=Andale+Mono);
body {
  overflow-x: hidden;
  font-family: "sans-serif";
}
.fontanimate > h1 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-shadow: -0.5px 0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black;
}

.fontanimate:hover > h1 {
  text-shadow: -2px -2px 0 #37f713, 2px -2px 0 #37f713, -2px 2px 0 #37f713,
    2px 2px 0 #37f713;
  color: #37f713;
  letter-spacing: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
