/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/7ad858a30e7f90e5e31bf3c16996a9fb?family=Andale+Mono);
body {
  overflow-x: hidden;
  font-family: "sans-serif";
}
.fontanimate > h1 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.fontanimate:hover > h1 {
  letter-spacing: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.green-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 #28996a, 0.5px -0.5px 0 #28996a,
    -0.5px 0.5px 0 #28996a, 0.5px 0.5px 0 #28996a;
  color: #28996a;
}

.pink-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 #fccce4, 0.5px -0.5px 0 #fccce4,
    -0.5px 0.5px 0 #fccce4, 0.5px 0.5px 0 #fccce4;
  color: #fccce4;
}

.red-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 #ff3636, 0.5px -0.5px 0 #ff3636,
    -0.5px 0.5px 0 #ff3636, 0.5px 0.5px 0 #ff3636;
  color: #ff3636;
}
.blue-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 #3c68ff, 0.5px -0.5px 0 #3c68ff,
    -0.5px 0.5px 0 #3c68ff, 0.5px 0.5px 0 #3c68ff;
  color: #3c68ff;
}

.orange-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 #ff8b4a, 0.5px -0.5px 0 #ff8b4a,
    -0.5px 0.5px 0 #ff8b4a, 0.5px 0.5px 0 #ff8b4a;
  color: #ff8b4a;
}

.yellow-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 #ffd437, 0.5px -0.5px 0 #ffd437,
    -0.5px 0.5px 0 #ffd437, 0.5px 0.5px 0 #ffd437;
  color: #ffd437;
}
.cursor-blink {
  animation: animate-blink 1s infinite linear;
}
@keyframes animate-blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
