/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/7ad858a30e7f90e5e31bf3c16996a9fb?family=Andale+Mono);
body {
  overflow-x: hidden;
  font-family: "sans-serif";
}
.fontanimate > h1 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.fontanimate:hover > h1 {
  letter-spacing: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.green-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 green, 0.5px -0.5px 0 green, -0.5px 0.5px 0 green,
    0.5px 0.5px 0 green;
  color: green;
}

.pink-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 pink, 0.5px -0.5px 0 pink, -0.5px 0.5px 0 pink,
    0.5px 0.5px 0 pink;
  color: pink;
}

.purple-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 purple, 0.5px -0.5px 0 purple,
    -0.5px 0.5px 0 purple, 0.5px 0.5px 0 purple;
  color: purple;
}

.black-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black,
    0.5px 0.5px 0 black;
  color: black;
}

.yellow-hover:hover > h1 {
  text-shadow: -0.5px -0.5px 0 yellow, 0.5px -0.5px 0 yellow,
    -0.5px 0.5px 0 yellow, 0.5px 0.5px 0 yellow;
  color: yellow;
}
.cursor-blink {
  animation: animate-blink 1s infinite linear;
}
@keyframes animate-blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
